@{
    Layout = null;
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="text-align: center;font-size: xx-large; align-content: center">@ViewBag.Message</h1>
<br />
<br />
<td style="text-align: center;align-content: center">
    <button style="background-color: whitesmoke;position: absolute; left: 47%; font-size:x-large">@Html.ActionLink("BACK", "ViewLoans", "Account")</button>
</td>