@model Account.Models.ApprovalAgency
@{
    ViewBag.Title = "NewRequest";

}

@*<h2>Welcome @Model.AgentUserId</h2>*@

<button class="btn btn-info" style="background-color:whitesmoke">@Html.ActionLink("New Loans", "NewLoans", "AgentAccount")</button>