@{
    Layout = null;
}

<h1 style="text-align: center;font-size: xx-large">@ViewBag.approvemsg</h1>
<br />

<td style="text-align:center;align-content:center">
    <button class="btn btn-info" style="background-color: whitesmoke;position: absolute; left: 50%;" text>@Html.ActionLink("BACK", "LoanAgencyVerified", "AgentAccount")</button>
</td>