@model Account.Models.AgentLogin
@{
    ViewBag.Title = "PickupNewLoans";

}

<h2>Welcome @Model.AgentUserId</h2>

<button class="btn btn-info" style="background-color:whitesmoke">@Html.ActionLink("New Loans", "PickupNewLoansAll", "AgentAccount")</button>