@model IEnumerable<Account.Models.Loan>

@{
    ViewBag.Title = "ProcessRequest";
}

<h2>ProcessRequest</h2>

<table class="table">
    <tr>
        <th>Loan Id</th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>Update Status</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(i=>item.LoanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Details", "ShowLoanDetails", new { id=item.UserId })
        </td>
    </tr>
}
</table>