@model IEnumerable<Account.Models.Loan>

@{
    ViewBag.Title = "VerificationNewLoansAll";
}

<h2>New Loans for Verification</h2>

<table class="table">
    <tr>
        <th>Loan Id</th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>Update Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.LoanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Details", "VerificationLoanDetails", new { loanid = item.LoanId, loantype = item.LoanType })
            </td>
        </tr>
    }
</table>